h1 {
text-align: center;
color: #3F3FBF;
}
.top-rated {
color: green;
}
.under-rated {
color: red;
}
#Sant-martin {
float: right;
}
.Employee {
text-align: center;
}
.orangeBack {
    background-color: orangered;
}
.fuskaBack {
    background-color: fuchsia;
}
.bluBack {
    background-color: #3F3FBF;
}
canvas {
    width: 800px;
    height: 700px;
    border: 1px solid #c3c3c3;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    text-align: center;
    display:block;
    width:100px;
    margin:0 auto;
}